
///////////////////////////////////////////////////////////////
// bitfield ${structName}
#if ($struct.haveComments())
//
#foreach ($line in $struct.comments)
// ${line}
#end
#end
class ${struct.className} : public structpp::Struct {
public:
    static ${struct.className} *instance(void) {
		return new ${struct.className}();
	}

    virtual ~${struct.className}();
	virtual size_t calcsize(void) override;
	virtual void read(structpp::StructDecoder &decoder) override;
	virtual void write(structpp::StructEncoder &encoder) override;

#foreach ($field in $struct.fields)
    uint32_t ${field.name}; // ${field.type.arraySize} bits
#end

private:
    ${struct.className}(void);
};
